
.intro {
    position: absolute;
    top: 18%;
    right: 5%;
    color: rgb(110, 77, 4);
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 3px dotted red;
    border-right: 3px dotted red;
    padding: 5px;
}

.Author {
    color: rgb(0, 255, 55);
}

#center {
    text-align: center;
}

#aqua {
    background-color: aqua;
}

.sup {
    vertical-align: super;
}

textarea {
    width: 200px;
    height: 50px;
    vertical-align: middle;
}

body {
    margin: 0% 5%;
}